.LabCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.category-tags {
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}