---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="404 - Not Found">
  <div class="not-found">
    <img src="/images/dizzy.svg" alt="Dizzy face" />
    <h1>404</h1>
    <p>Looks like this page doesn't exist.</p>
    <a href="/">Go back home</a>
  </div>
</BaseLayout>
