---
interface Props {
  tag: string;
  active?: boolean;
  href?: string;
}

const { tag, active = false, href } = Astro.props;
const tagSlug = tag.replace(/(\s|_|-)+/g, '-').toLowerCase();
const chipHref = href ?? `/tag/${tagSlug}`;
---

<span class:list={['Chip', { active }]}>
  <a class="Chip-link" href={chipHref}>{tag}</a>
</span>
