html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  background-color: #efefef;
}

a {
  color: inherit;
}

.post-link, .tag-link {
  text-decoration: none;
  color: inherit;
}

.post-link {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tag-link {
  z-index: 20;
}

.autolink-header.before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  padding-right: 4px;
  display: none;
}

.paging-links {
  width: 100%;
  text-align: center;
  margin-top: 16px;
}

.paging-links a {
  text-decoration: none;
  font-size: 1.2rem;
  background-color: #3B415C;
  color: #ffffd2;
  border-radius: 8px;
  padding: 8px;
  margin: 4px;
}

h1:hover .autolink-header.before,
h2:hover .autolink-header.before,
h3:hover .autolink-header.before,
h4:hover .autolink-header.before,
h5:hover .autolink-header.before,
h6:hover .autolink-header.before {
  display: block;
}

code {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 12px;
}

.grvsc-code {
  padding-top: 25px;
}

.grvsc-line {
  white-space: pre-wrap;
}

code:not(.grvsc-code) {
  display: inline-block;
  white-space: pre-wrap;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #efefef;
}

.div-paragraph {
  margin: 30px 0 30px 0;
}

blockquote {
  border-left: 10px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;

  padding-left: 5px;
}

#Layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  overflow: hidden;
}

.sideBar {
  flex: 0 0 18rem;
  z-index: 98;
}

#sideBar {
  position: fixed;
  width: 18rem;
  height: 100%;

  display: flex;
  flex-direction: column;
}

#content-wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

#aboutMe {
  margin-top: 100px;
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#aboutMe_image {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  transition: all 500ms ease;
}

#aboutMe_image:hover {
  transform: scale(1.1);
}

#aboutMe_image img {
  width: 100%;
}

#aboutMe_pages {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#aboutMe_icons {
  height: 60px;
  font-size: 25px;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}

#side-nav-toggle-wrapper {
  display: none;
  width: 100%;
  flex: 0 0 50px;
  z-index: 99;
  position: fixed;
}

#side-nav-toggle {
  width: 100%;
}

.toggle {
  padding-left: 10px;
  justify-self: center;
  cursor: pointer;
}

.post-view-content {
  align-self: stretch;
  padding: 6rem;
}

@media only screen and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2) {
  #side-nav-toggle-wrapper {
    display: block;
  }

  #side-nav-toggle-cb:checked + #sideBar {
    transform: translateX(0);
  }

  .sideBar {
    flex: 0 0 0px;
  }

  #sideBar {
    transition: all 500ms ease;
    transform: translateX(-18rem);
  }

  #content {
    margin-top: 60px;
  }

  .post-view-content {
    padding: 5px;
  }
}
