@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  background-color: #efefef;
}

a {
  color: inherit;
}

a.link-to {
  text-decoration: none;
  color: inherit;
}

code {
  display: block;
  white-space: pre-wrap;
}

#Layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

.sideBar {
  flex: 0 0 18rem;
}

#sideBar {
  position: fixed;
  width: 18rem;
  height: 100%;

  display: flex;
  flex-direction: column;
}

#side-nav-toggle-wrapper {

}

#content-wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

#aboutMe {
  margin-top: 100px;
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#aboutMe_image {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#aboutMe_image img {
  width: 100%;
}

#aboutMe_pages {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#aboutMe_icons {
  height: 60px;
  font-size: 25px;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}

#side-nav-toggle-wrapper {
  display: none;
  width: 100%;
  flex: 0 0 50px;
}

#side-nav-toggle {
  position: fixed;
  width: 100%;
}

.toggle {
  padding-left: 10px;
  justify-self: center;
}

@media only screen and (max-device-width: 800px) and (-webkit-min-device-pixel-ratio: 2) {

  #side-nav-toggle-wrapper {
    display: block;
  }

  #side-nav-toggle-cb:checked + #sideBar {
    transform: translateX(0);
  }

  .sideBar {
    flex: 0 0 0px;
  }

  #sideBar {
    transition: all 500ms ease;
    transform: translateX(-18rem);
  }
}

/*
#Layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#side-nav-toggle-wrapper {
  flex: 0 0 3rem;
  display: none;
}

#Layout-inner {
  position: relative;
  display: flex;
  flex: 1 1 auto;
}

.sideBar {
  flex: 0 0 18rem;
  height: 100%;
  position: fixed;
}

#sideBar {
  z-index: 99;
  width: 18rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#side-nav-toggle {
  z-index: 100;

  position: fixed;
  height: 3rem;
  width: 100%;

  display: flex;
  align-items: center;
}

  .toggle {
    padding-left: 10px;
    justify-self: center;
  }

  #aboutMe {
    margin-top: 100px;
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

    #aboutMe_image {
      width: 50%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }

      #aboutMe_image img {
        width: 100%;
      }

      #aboutMe_pages {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

  #aboutMe_icons {
    height: 60px;
    font-size: 25px;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
  }

#content {
  overflow: scroll;
  padding: 1rem;
  width: 100%;
}

#side-nav-toggle-cb {
  display: none;
}

@media only screen 
  and (max-device-width: 800px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .sideBar {
      margin-left: -18rem;
    }
    
    #side-nav-toggle-wrapper {
      display: block;
    }

      #side-nav-toggle-cb:checked + #sideBar {
        transform: translateX(18rem);
      }
    
    #sideBar {
      transition: all 500ms ease;
    }
}
*/
