#sideBar {
  flex: 0 0 18rem;
  width: 18rem;
  position: fixed;
  height: 100%;
  background-color: #52307c;
  color: #ffffd2;
  display: flex;
  flex-direction: column;
}

#aboutMe {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}

#aboutMe_image {
  display: flex;
  justify-content: center;
}
#aboutMe_image img {
  width: 50%;
}

#aboutMe_icons {
  flex: 0 0 60px;
  font-size: 25px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#aboutMe_pages {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

#aboutMe_pages_links {
  min-width: 40%;
  text-align: left;
}

#aboutMe_pages li {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  cursor: pointer;
  padding-right: 15px;
}

a li {
  border-bottom: 1px solid transparent;
}

a.active li,
#aboutMe_pages li:hover {
  border-bottom: 1px solid #ffffd2;
}

#aboutMe_pages ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#aboutMe_pages a {
  color: inherit;
  font-size: 20px;
  text-decoration: none;
  text-align: left;
}

#aboutMe_icons i {
  cursor: pointer;
  transition: all 500ms ease;
}

#aboutMe_icons i:hover {
  color: #ffffff;
  transform: scale(1.3);
}

#side-nav-toggle {
  display: none;
  height: 50px;
  font-size: 30px;
  padding-left: 18px;
  background-color: #52307c;
  color: #fff;
  width: 100%;
  border-bottom: 1px solid #efefef;
}

#side-nav-toggle-cb {
  display: none;
}

@media only screen 
  and (max-device-width: 800px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #sideBar {
      transform: translateX(-18rem);
      transition: all 500ms ease;
    }

    #side-nav-toggle {
      display: inline-block;
    }

    #side-nav-toggle-cb:checked + #sideBar {
      transform: translateX(0);
    }
}