#sideBar {
  background-color: #3b415c;
  color: #ffffd2;
}

#side-nav-toggle {
  background-color: #3b415c;
  color: #ffffd2;
  font-size: 2.5rem;
  border-bottom: 1px solid #ffffd2;
}

#aboutMe_icons i {
  cursor: pointer;
  transition: all 500ms ease;
}

#aboutMe_icons i:hover {
  color: #ffffff;
  transform: scale(1.3);
}

#aboutMe_pages_links {
  list-style: none;
  font-size: 1.2rem;
}

#aboutMe_pages_links a {
  text-decoration: none;
}

#aboutMe_pages_links a li {
  padding-right: 1rem;
  margin-bottom: 1rem;
  transition: border-width 500ms ease;
}

#aboutMe_pages_links a li:after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #ffffd2;
  transition: width 0.3s;
}

#aboutMe_pages_links a.active li:after,
#aboutMe_pages_links a:hover li:after {
  width: 100%;
  padding-right: 1rem;
}

#side-nav-toggle-cb {
  display: none;
}
